mixin rangeSlider(options)
  .range-slider
    .range-slider__wrap
      span.range-slider__name= options.name
      span.range-slider__from-to 5 000₽ - 10 000₽
    .range-slider__slider
      input.js-range-slider(type="text")
