@import './ion-rangeslider/ion.rangeSlider.scss';

.range-slider {
  width: 266px;
  height: 47px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    @include font-two;
    font-size: 0.75rem;
    line-height: 1.6667;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__from-to {
    @include font-main;
    font-size: 0.75rem;
    line-height: 1.6667;
    color: rgba(31, 32, 65, 0.5);
  }
  &__slider input{
    width: 266px;
  }
}
