//-
  options = {
    label: <text>,
    placeholder: <text>,
    }

mixin filter-date-dropdown(options)
  .filter-date-dropdown
    p.filter-date-dropdown__label-name= options.label
    .filter-date-dropdown__show-info
      .filter-date-dropdown__area-of-placeholder= options.placeholder
      .filter-date-dropdown__expand-more-wrapper
        span.material-icons keyboard_arrow_down
    .filter-date-airdatepicker
