@import './__air-datepicker/scss/datepicker.scss';

.filter-date-dropdown__label-name {
  @include font-two;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
  }
  .filter-date-dropdown__show-info {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  @include font-main;
  font-size: 14px;
  padding-left: 14px;
  width: 266px;
  height: 44px;
  margin-top: 5px;
  display: flex;
  cursor: pointer;

    .filter-date-dropdown__area-of-placeholder {
      width: 222px;
      height: 44px;
      line-height: 41px;
      color: rgba(31, 32, 65, 0.75);
    }
    .filter-date-dropdown__expand-more-wrapper {
      width: 44px;
      height: 44px;
      text-align: center;
      & span.material-icons {
        width: 44px;
        height: 44px;
        @include Material-Icons;
        font-size: 24px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.5);
        padding-left: 11px;
        user-select: none;
      }
    }
  }

.filter-date-airdatepicker {
  margin-top: 5px;
  display: none;
  position: absolute;
}
