@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';
@import '../../views/layout/main.scss';
@import '../../components/header/header.scss';
@import '../../components/__comfort/comfort.scss';
@import '../../components/to-book/to-book.scss';

.page__row {
  width: 1440px;
  padding: 0 140px;
  display:  flex;
}
.room {
  width: 780px;

  &__cell {
    display: flex;
  }
  &__information {
    margin-right: 81px;
  }

  &__impressions {
    width: 311px;
  }
}
.block-photo {
  width: 1440px;
  height: 485px;
  display: flex;
  margin-bottom: 70px;

  &__main-photo {
    width: 981px;
    height: 485px;
    background-repeat: no-repeat;
  }
  &__mini-photo {
    width: 459px;
    height: 485px;
  
    .photo__up {
      width: 459px;
      height: 243px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .photo__down {
      width: 459px;
      height: 242px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
.name-of-block {
  @include font-sans-bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  margin-bottom: 20px;
}

// .chart-container {
//   width: 311px;
// }
.chart {
  display: flex;
  justify-content: space-between;

  & .unit {
    fill: none;
    stroke-width: 1;

    &:nth-child(2) {
      stroke-dasharray: 0 100;
      stroke-dashoffset: 25;
    }
    &:nth-child(4) {
      stroke-dasharray: 25 75;
      stroke-dashoffset: 125;
    }
    &:nth-child(6) {
      stroke-dasharray: 25 75;
      stroke-dashoffset: 100;
    }
    &:nth-child(8) {
      stroke-dasharray: 50 50;
      stroke-dashoffset: 75;
    }
  }
  &__text {
    fill: #BC9CFF;
    font: 16px/1.4em;
    transform: translateY(0.25em);
  }
  &__number {
    @include font-third;
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.6em);
  }
  &__label {
    @include font-two;
    text-anchor: middle;
    font-size: 0.2em;
    text-transform: uppercase;
    transform: translateY(0.4em);
  }
}