extends ../../views/layout/main.pug
include ../../components/header/header.pug
include ../../components/__comfort/comfort.pug
include ../../components/to-book/to-book.pug
include ./__chart/chart.pug

block title
  title Room details

block content
  +header([{
          link: '#',
          link_name: 'О нас'
        },
        {
          link: '#',
          link_name: 'Услуги',
          expand_more: true,
        },
        {
          link: '#',
          link_name: 'Вакансии',
        },
        {
          link: '#',
          link_name: 'Новости'
        },
        {
          link: '#',
          link_name: 'Соглашения',
          expand_more: true,
        },], {login: 'Войти', register: 'Зарегистрироваться'})
  .block-photo
    .block-photo__main-photo(style="background-image: url(/assets/img/room-details-mainimg.png)")
    .block-photo__mini-photo
      .photo__up(style="background-image: url(/assets/img/room-details-upphoto.png)")
      .photo__down(style="background-image: url(/assets/img/room-details-downphoto.png)")
  .page__row
    .room
      .room__cell
        .room__information
          .name-of-block Сведения о номере
          +comfort([{materialIcons: "insert_emoticon",
            name: "Комфорт",
            description: "Шумопоглощающие стены"},
            {materialIcons: "location_city",
            name: "Удобство",
            description: "Окно в каждой из спален"},
            {materialIcons: "whatshot",
            name: "Уют",
            description: "Номер оснащён камином"}])
        .room__impressions
          .name-of-block Впечатления от номера

          +chart
      .room__review
    +to-book
