@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';
@import '../../views/layout/main.scss';
@import '../../components/header/header.scss';
@import '../../components/__comfort/comfort.scss';
@import '../../components/to-book/to-book.scss';
@import './__chart/chart.scss';
@import '../../components/__review/review.scss';
@import '../../components/__bullet-list/bullet-list.scss';
@import '../../components/footer/footer.scss';


.block-photo {
  max-width: 1440px;
  display: flex;
  margin-bottom: 70px;

  &__main-photo {
    width: 981px;
    // height: 485px;
    padding-top: 33.78%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &__mini-photo {
    width: 459px;

    .photo__up {
      // width: 459px;
      // height: 243px;
      padding-top: 52.9%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .photo__down {
      // width: 459px;
      // height: 242px;
      padding-top: 53%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
.page__row {
  max-width: 1160px;
  margin: 0 auto 45px;
  display:  flex;
  justify-content: space-between;
}
.room {
  width: 712px;

  &__cell {
    max-width: 711px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;

    .rules {
      .name-of-block {
        margin-left: 20px;
        margin-bottom: 17px;
      }
    }
    .cancel {
      margin-right: 9px;
      .name-of-block {
        margin-bottom: 17px;
      }
      &__description {
        width: 341px;
        font-size: 0.875rem;
        line-height: 1.7143;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }

  &__impressions {
    width: 311px;
    margin-right: 39px;
  }
  &__review {
    max-width: 711px;
    margin-bottom: 34px;
    .headline {
      display: flex;
      justify-content: space-between;

      .amount-of-review {
        font-size: 14px;
        line-height: 28px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }
}
.calculator {
  width: 380px;
}
.underline {
  width: 100%;
  height: 1px;
  background-color: rgba(31,32,65,.25);
}

.name-of-block {
  @include font-sans-bold;
  font-size: 1.1875rem;
  line-height: 1.2632;
  color: #1F2041;
  margin-bottom: 20px;
}

@media (max-width: 1190px) {

  .page__row {
    margin: 0 15px 45px;
  }
  .room {
    margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  .page__row {
    flex-wrap: wrap;

    .room,
    .calculator {
      margin: 0 auto;
    }
  }
}
@media (max-width: 918px) {
  html {
    font-size: 90%;
  }
  .block-photo {
    flex-wrap: wrap;

    &__main-photo {
      width: 100%;
      padding-top: 49%;
      background-position: center;
    }

    &__mini-photo {
      width: 100%;
      display: flex;

      .photo__up,
      .photo__down {
        width: 100%;
        padding-top: 26%;
      }
    }
  }
  .room__cell {
    flex-wrap: wrap;

    .room__impressions,
    .room__information {
      margin: 0 auto 15px;
    }

    & .rules,
      .cancel {
      margin: 0 auto 15px;
    }
  }
}

@media (max-width: 400px) {
  .page {
    .page__row {
      margin: 0 0 45px;
    }

    .block-photo {

      &__mini-photo {
        flex-wrap: wrap;

        .photo__up,
        .photo__down {
          padding-top: 50%;
        }
      }
    }
  }

  .room {
    width: 100%;

    &__cell,
    &__review {
      margin: 0 15px 10px;
    }

    &__impressions {
      width: 100%;
      .name-of-block {
        text-align: center;
      }
      .chart {
        justify-content: space-evenly;
      }
    }

    .cancel__description {
      width: 100%;
    }
  }
  .calculator {
    width: 100%;
  }
}
