@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';
@import '../../views/layout/main.scss';
@import '../../components/header/header.scss';
@import '../../components/__comfort/comfort.scss';
@import '../../components/to-book/to-book.scss';
@import './__chart/chart.scss';
@import '../../components/__review/review.scss';
@import '../../components/__bullet-list/bullet-list.scss';
@import '../../components/footer/footer.scss';


.block-photo {
  width: 1440px;
  height: 485px;
  display: flex;
  margin-bottom: 70px;

  &__main-photo {
    width: 981px;
    height: 485px;
    background-repeat: no-repeat;
  }
  &__mini-photo {
    width: 459px;
    height: 485px;

    .photo__up {
      width: 459px;
      height: 243px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .photo__down {
      width: 459px;
      height: 242px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
.page__row {
  width: 1440px;
  padding: 0 140px 45px;
  display:  flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(31,32,65,.25);
}
.room {
  width: 712px;

  &__cell {
    max-width: 711px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;

    .rules {
      .name-of-block {
        margin-left: 20px;
        margin-bottom: 17px;
      }
    }
    .cancel {
      margin-right: 9px;
      .name-of-block {
        margin-bottom: 17px;
      }
      &__description {
        width: 341px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }

  &__impressions {
    width: 311px;
    margin-right: 39px;
  }
  &__review {
    max-width: 711px;
    margin-bottom: 33px;
    .headline {
      display: flex;
      justify-content: space-between;

      .amount-of-review {
        font-size: 14px;
        line-height: 28px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }
}

.name-of-block {
  @include font-sans-bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  margin-bottom: 21px;
}
