.label {
  @include font-two;
  font-size: 12px;
  line-height: 15px;
}
.form {
  margin-bottom: 1.25rem;
}
.form__title {
  margin: 0;
}
.form__input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  @include font-main;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  width: 320px;
  height: 44px;
  margin-top: 4px;
}
.form__input:hover,
.form__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
input.form__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
