@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';
@import '../../views/layout/main.scss';
@import '../../components/header/header.scss';
@import '../../components/login-block/login-block.scss';
@import '../../components/footer/footer.scss';

.background {
  max-width: 1440px;
  height: 702px;
  background-repeat: no-repeat;
  background-position: 50% 101%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper-login {
    width: 380px;
    height: 358px;
    margin: 0 auto;
  }
}

@media (max-width: 918px) {
  html {
    font-size: 90%;
  }
  .background {
    background-size: cover;
  }
  .background__wrapper-login {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .background {
    height: 450px;
  }
}
