@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.eot');
  src: url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff'),
       url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('truetype'),
       url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.eot');
  src: url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff'),
       url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('truetype'),
       url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('/assets/fonts/Open-Sans/Bold/Open-sans-Bold.eot');
  src: url('/assets/fonts/Open-Sans/Bold/Open-sans-Bold.woff') format('woff'),
       url('/assets/fonts/Open-Sans/Bold/Open-sans-Bold.ttf') format('truetype'),
       url('/assets/fonts/Open-Sans/Bold/Open-sans-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Open-Sans-Regular';
  src: url('/assets/fonts/Open-Sans/Regular/Open-sans-Regular.eot');
  src: url('/assets/fonts/Open-Sans/Regular/Open-sans-Regular.woff') format('woff'),
       url('/assets/fonts/Open-Sans/Regular/Open-sans-Regular.ttf') format('truetype'),
       url('/assets/fonts/Open-Sans/Regular/Open-sans-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.eot');
  src: url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff'),
       url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.ttf') format('truetype'),
       url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.eot');
  src: url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.woff') format('woff'),
       url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.ttf') format('truetype'),
       url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Material-Icons';
  src: url('/assets/fonts/Material-Icons/MaterialIcons-Regular.eot');
  src: url('/assets/fonts/Material-Icons/MaterialIcons-Regular.woff') format('woff'),
       url('/assets/fonts/Material-Icons/MaterialIcons-Regular.ttf') format('truetype'),
       url('/assets/fonts/Material-Icons/MaterialIcons-Regular.svg') format('svg');
}
