@mixin font-main {
  font-family: 'Montserrat-Regular', sans-serif;
}
@mixin font-two {
  font-family: 'Montserrat-Bold', sans-serif;
}
@mixin font-third {
  font-family: 'Quicksand-Bold', sans-serif;
}
@mixin font-forth {
  font-family: 'Quicksand-Regular', sans-serif;
}
@mixin purple {
  background: #bc9cff;
}
@mixin green {
  background: #6fcf97;
}
@mixin dark100 {
  background: #1f2041;
}
@mixin dark75 {
  background: rgba(31, 32, 65, 0.75);
}
@mixin dark50 {
  background: rgba(31, 32, 65, 0.5);
}
@mixin dark25 {
  background: rgba(31, 32, 65, 0.25);
}
@mixin dark5 {
  background: rgba(31, 32, 65, 0.05);
}
