@mixin font-main {
  font-family: 'Montserrat-Regular', sans-serif;
}
@mixin font-two {
  font-family: 'Montserrat-Bold', sans-serif;
}
@mixin font-third {
  font-family: 'Quicksand-Bold', sans-serif;
}
@mixin color-purple {
  background: #bc9cff;
}
@mixin color-green {
  background: #6fcf97;
}
@mixin color-dark100 {
  background: #1f2041;
}
@mixin color-dark75 {
  background: rgba(31, 32, 65, 0.75);
}
@mixin color-dark50 {
  background: rgba(31, 32, 65, 0.5);
}
@mixin color-dark25 {
  background: rgba(31, 32, 65, 0.25);
}
@mixin color-dark5 {
  background: rgba(31, 32, 65, 0.05);
}
