include ./__date-dropdown/date-dropdown.pug
include ./__dropdown/dropdown.pug
include ./__buttons/buttons.pug

//- options = {
  name: 'text',
  }

mixin searchRoom(options)
  .search-room
    h1.search-room__name= options.name
    .search-room__date-dropdown
      +date-dropdown({label_one: "прибытие", label_two: "выезд", placeholder: "ДД.ММ.ГГГГ",})
    .search-room__dropdown
      +dropdownGuests({label: 'гости', placeholder: 'Сколько гостей', firstGuestLabel: 'взрослые', secondGuestLabel: 'дети', thirdGuestLabel: 'младенцы' , applyAndCancel: true})
    .search-room__button
      +button({buttonType: 'button', buttonColorClass: 'button__long', name: 'подобрать номер', dataRole: 'search-room'})
