.footer-creative {
  width: 768px;
  height: 367px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding-top: 100px;

  &__logo-description {
    margin: 0 auto 23px;

    .logo {
      display: flex;
      width: 106px;
      margin: 20px auto 17px;
      &__icon {
        width: 40px;
        height: 40px;
        background: no-repeat;
      }
      &__name {
        width: 54px;
        height: 14px;
        margin: 13px 0 0 12px;
        background: no-repeat;
      }
    }
    .description {
      font-size: 0.875rem;
      line-height: 1.7143;
      text-align: center;
      color: rgba(31, 32, 65, 0.75);
    }
  }
  &__sprites {
    width: 112px;
    margin: 0 auto;
    @include fa-brands;
    font-size: 1.5rem;
    line-height: 0.9583;
    display: flex;
    justify-content: space-between;


    a {
      text-decoration: none;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 768px) {
  .footer-creative {
    width: 100%;
  }
}
