.font-size__wrapper
  .font-size__headline
    p.h1 H1
    p.h2 H2
    p.h3 H3
    p.body Body
  .font-size__text
    p.font-size__text-h1 This one is the sub-section or widget title
    p.font-size__text-h2 Next one is the item title inside widgets
    p.font-size__text-h3 THIS IS A LABEL OR CTA TEXT
    p.font-size__text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
