mixin font-size
  .font-size
    .font-size__text
      .font-size__text-h1 This one is the sub-section or widget title
      .font-size__text-h2 Next one is the item title inside widgets
      .font-size__text-h3 THIS IS A LABEL OR CTA TEXT
      .font-size__text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
