@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';
@import '../../views/layout/main.scss';
@import '../../components/header/header.scss';
@import '../../components/__filter-date-dropdown/filter-date-dropdown.scss';
@import '../../components/__dropdown/dropdown.scss';
@import '../../components/__range-slider/range-slider.scss';
@import '../../components/__checkbox-buttons/checkbox-buttons.scss';
@import '../../components/__rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '../../components/__dropdown-bedroom/dropdown-bedroom.scss';
@import '../../components/__expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../components/hotel-room/hotel-room.scss';
@import '../../components/__pagination/pagination.scss';
@import '../../components/footer/footer.scss';

.content {
  max-width: 1160px;
  min-height: 1356px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  // border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  // justify-content: space-between;
  &__wrapper {
    display: flex;

  }

  & .filters {
    max-width: 266px;
    margin-right: 48px;

    &__wrapper-for-filter-date-dropdown {
      margin-bottom: 22px;
    }
    &__wrapper-for-dropdown {
      width: 266px;
      margin-bottom: 29px;
    }
    &__wrapper-for-range-slider {
      margin-bottom: 27px;

      .down-description {
        margin-top: 13px;
        font-size: 0.75rem;
        line-height: 1.1667;
        color: rgba(31, 32, 65, 0.5);
      }
    }
    &__wrapper-for-checkbox-buttons {
      margin-bottom: 33px;
    }
    &__wrapper-for-rich-checkbox-buttons {
      margin-bottom: 30px;
    }
    &__wrapper-for-dropdown-bedroom {
      margin-bottom: 16px;
    }
  }
  .rooms {
    max-width: 846px;

    &__header {
      @include h1;
      margin-bottom: 21px;
      margin-left: 12px;
    }

    &__rooms-blocks {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4px;

      .block-room {
        margin-left: 12px;
        margin-bottom: 12px;
      }
    }
    &__pagination {
      width: inherit;
      display: flex;
      justify-content: center;
    }
  }
}
.underline {
  width: 100%;
  height: 1px;
  background-color: rgba(31, 32, 65, 0.25);
}

@media (max-width: 1190px) {
  .content {
    margin: 0 15px;

    .filters {
      margin-right: 10px;
    }
  }
}
@media (max-width: 1151px) {
  .content {
    &__wrapper {
      width: 100%;
      justify-content: space-around;
    }
    .rooms {
      max-width: 576px;

      &__pagination {
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 869px) {
  .content {
    &__wrapper {
      flex-direction: column;

      .filters {
        max-width: 839px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        & > div {
          margin: 0 5px 20px;
          width: 266px;
        }
      }
    }
    .rooms {
      margin: 0 auto;
    }
  }
}

@media (max-width: 593px) {
  .content {
    .filters {
      margin-right: 0;

      & > div {
        margin: 0 0 20px;
        width: 290px;
      }
    }
    .rooms {
      max-width: 294px;
    }
  }
}
