mixin expandableCheckboxList(options)
  .expandable-checkbox-list
    .expandable-checkbox-list__select
      .expandable-checkbox-list__name= options.name
      .expandable-checkbox-list__expand-more
        svg.expandable-checkbox-list__expand-more-svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
    .checkbox-list
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-breakfast" type="checkbox" name="Завтрак")
        label(for="checkbox-breakfast") Завтрак
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-desk" type="checkbox" name="Письменный стол")
        label(for="checkbox-desk") Письменный стол
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-chair" type="checkbox" name="Стул для кормления")
        label(for="checkbox-chair") Стул для кормления
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-crib" type="checkbox" name="Кроватка")
        label(for="checkbox-crib") Кроватка
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-tv" type="checkbox" name="Телевизор")
        label(for="checkbox-tv") Телевизор
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-shampoo" type="checkbox" name="Шампунь")
        label(for="checkbox-shampoo") Шампунь
