//-
  Принимает объект options = {
    name: <text>
  }

mixin expandableCheckboxList(options)
  .expandable-checkbox-list
    .expandable-checkbox-list__select
      .expandable-checkbox-list__name= options.name
      .expandable-checkbox-list__expand-more
        span.material-icons keyboard_arrow_down
    .checkbox-list.hide
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-breakfast" type="checkbox" name="Завтрак")
        label(for="checkbox-breakfast") Завтрак
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-desk" type="checkbox" name="Письменный стол")
        label(for="checkbox-desk") Письменный стол
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-chair" type="checkbox" name="Стул для кормления")
        label(for="checkbox-chair") Стул для кормления
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-crib" type="checkbox" name="Кроватка")
        label(for="checkbox-crib") Кроватка
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-tv" type="checkbox" name="Телевизор")
        label(for="checkbox-tv") Телевизор
      .checkbox-list__item
        input.custom-checkbox(id="checkbox-shampoo" type="checkbox" name="Шампунь")
        label(for="checkbox-shampoo") Шампунь
