.expandable-checkbox-list {
  box-sizing: border-box;
  &__select {
    width: 266px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__expand-more {
    width: 44px;
    height: 44px;
    & span.material-icons {
      width: 44px;
      height: 44px;
      @include Material-Icons;
      font-size: 24px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.5);
      padding-left: 10px;
    }
  }
  &__select_active {
    width: 266px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    & .expandable-checkbox-list__expand-more span.material-icons {
      width: 44px;
      height: 44px;
      @include Material-Icons;
      font-size: 24px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.5);
      padding-left: 10px;
      transform: rotate(180deg);
    }
  }
  &__name {
    @include font-two;
    color: #1F2041;
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
  }

}
.checkbox-list {
  margin-top: 2px;
  height: 171px;
  width: 266px;
  &.hide {
    display: none;
  }
}
.checkbox-list__item {
  box-sizing: border-box;
  height: 20px;
  @include font-main;
  font-size: 14px;
  line-height: 22px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 10px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &+label::before {
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 4.5px 3.5px;
    background-size: 50% 50%;
    line-height: 18px;
  }
  &:checked+label::before {
    border-color: #BC9CFF;
    background-image: url("/assets/img/vector.svg");
  }
}
