@import '../../assets/scss/normalize.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/mixins.scss';

* {
  box-sizing:border-box;
  outline: none;
}

html {
  font-size: 100%;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  background: #fff;
  @include font-main;
}
