//- options = {
    name: 'name',
    rate: number,
  }

mixin rateButton(options)
  .rate-button
    if (options.name)
      .rate-button__label= options.name
    .rate-button__buttons
      - for(i=1; i <= 5; i++)
          if(options.rate >= i)
            span.rate-button__input star
          else
            span.rate-button__input star_border
