//-
  options принимает объект настроек
  {label_one: <text>, label_two: <text>, placeholder: <text>,}

mixin date-dropdown(options)
  .date-dropdown
    .date-dropdown__wrapper
      p.date-dropdown__label-name= options.label_one
      .date-dropdown__show-info
        .date-dropdown__area-of-placeholder.arrival= options.placeholder
        .date-dropdown__expand-more-wrapper
          svg.date-dropdown__expand-more-svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
    .date-dropdown__wrapper
      p.date-dropdown__label-name= options.label_two
      .date-dropdown__show-info
        .date-dropdown__area-of-placeholder.departure= options.placeholder
        .date-dropdown__expand-more-wrapper
          svg.date-dropdown__expand-more-svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
  .date-airdatepicker.datepicker-here(style="display: none")
