.date-dropdown__label-name {
@include font-two;
font-size: 12px;
line-height: 15px;
margin: 0;
text-transform: uppercase;
}
.date-dropdown__show-info {
border: 1px solid rgba(31, 32, 65, 0.25);
border-radius: 4px;
@include font-main;
font-size: 14px;
line-height: 26.3px;
padding-left: 14px;
width: 150px;
height: 44px;
margin-top: 4px;
display: flex;
cursor: pointer;

  .date-dropdown__area-of-placeholder {
    width: 97px;
    height: 44px;
    line-height: 42px;
    color: rgba(31, 32, 65, 0.75);
  }
  .date-dropdown__expand-more-wrapper {
    width: 44px;
    height: 44px;
    text-align: center;
    .date-dropdown__expand-more-svg {
      vertical-align: bottom;
    }
  }
}
.date-dropdown__show-info_active {
@include font-main;
font-size: 14px;
line-height: 25px;
padding-left: 15px;
width: 320px;
height: 44px;
margin-top: 4px;
display: flex;
border: 1px solid rgba(31, 32, 65, 0.5);
border-radius: 4px 4px 0 0;
cursor: pointer;
  .date-dropdown__area-of-placeholder {
    width: 276px;
    height: 44px;
    line-height: 42px;
    color: rgba(31, 32, 65, 0.75);
  }
  .date-dropdown__expand-more-wrapper {
    width: 44px;
    height: 44px;
    text-align: center;
    .date-dropdown__expand-more-svg {
      vertical-align: bottom;
      transform: rotate(180deg);
    }
  }
}
