extends ../../views/layout/main.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-creative/footer-creative.pug

block title
  title Headres & Footers

block content
  .page__row
    .page__cell-header.toxin
      include ../../components/toxin-icon/toxin.pug
    .page__cell-standard-nav-bar
      +header([{
          selected: true,
          link: 'hello',
          link_name: 'Home'
        },
        {
          link: '#',
          link_name: 'About Us'
        },
        {
          link: '#',
          link_name: 'Services',
          expand_more: true,
        },
        {
          link: '#',
          link_name: 'Careers'
        },
        {
          link: '#',
          link_name: 'News'
        },
        {
          link: '#',
          link_name: 'Documentation'
        },])
    .page__cell-logged-nav-bar
      +header([{
          selected: true,
          link: 'hello',
          link_name: 'Home'
        },
        {
          link: '#',
          link_name: 'About Us'
        },
        {
          link: '#',
          link_name: 'Services',
          expand_more: true,
        },
        {
          link: '#',
          link_name: 'Careers'
        },
        {
          link: '#',
          link_name: 'News'
        },
        {
          link: '#',
          link_name: 'Documentation'
        },], {user: 'Cosmin Negoita'})
    .page__cell-footer-widgets
      +footer({logoIconUrl: '/assets/img/Group.svg',
      logoTextUrl: '/assets/img/TOXIN.svg',
      logoDescription: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      },
      [['Navigation', {name: 'About Us', links: '#'}, {name: 'News', links: '#'}, {name: 'Support', links: '#'}, {name: 'Products', links: '#'}],
      ['About Us', {name: 'Who we are', links: '#'}, {name: 'Our team', links: '#'}, {name: 'Careers', links: '#'}, {name: 'Investors', links: '#'}],
      ['Support', {name: 'Documentation', links: '#'}, {name: 'Community', links: '#'}, {name: 'Get in Touch', links: '#'}]], {name: 'Subscribe to our newsletter', description: 'Receive our latest news and promotions in your inbox!', options: { inputType: 'text', labelFor: 'subscription', id: 'subscription', inputPlaceholder: 'Your email address'}}, {text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.', }
          )
    .page__cell-footer-creative
      +footer-creative({logoIconUrl: '/assets/img/footer-logo.svg',
      logoTextUrl: '/assets/img/footer-toxin.svg',
      logoDescription: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      social_network: ['#', '#', '#']})
