extends ../../views/layout/main.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-creative/footer-creative.pug

block title
  title Headres & Footers

block content
  .page__row
    .page__cell-header.toxin
      include ../../components/toxin-icon/toxin.pug
    .page__cell-standard-nav-bar
      +header([{
          selected: true,
          link: 'hello',
          link_name: 'О нас'
        },
        {
          link: '#',
          link_name: 'Услуги',
          expand_more: true,
        },
        {
          link: '#',
          link_name: 'Вакансии',
        },
        {
          link: '#',
          link_name: 'Новости'
        },
        {
          link: '#',
          link_name: 'Соглашения',
          expand_more: true,
        },], {login: 'Войти', register: 'Зарегистрироваться'})
    .page__cell-logged-nav-bar
      +header([{
          selected: true,
          link: 'hello',
          link_name: 'О нас'
        },
        {
          link: '#',
          link_name: 'Услуги',
          expand_more: true,
        },
        {
          link: '#',
          link_name: 'Вакансии',
        },
        {
          link: '#',
          link_name: 'Новости'
        },
        {
          link: '#',
          link_name: 'Соглашения',
          expand_more: true,
        },], {user: 'Юлий Цезарь'})
    .page__cell-footer-widgets
      +footer({logoIconUrl: '/assets/img/Group.svg',
      logoTextUrl: '/assets/img/TOXIN.svg',
      logoDescription: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      },
      [['Навигация', {name: 'О нас', links: '#'}, {name: 'Новости', links: '#'}, {name: 'Служба поддержки', links: '#'}, {name: 'Услуги', links: '#'}],
      ['О нас', {name: 'О сервисе', links: '#'}, {name: 'Наша команда', links: '#'}, {name: 'Вакансии', links: '#'}, {name: 'Инвесторы', links: '#'}],
      ['Служба поддержки', {name: 'Соглашения', links: '#'}, {name: 'Сообщество', links: '#'}, {name: 'Связь с нами', links: '#'}]], {name: 'Подписка', description: 'Получайте специальные предложения и новости сервиса', options: { inputType: 'text', labelFor: 'subscription', id: 'subscription', inputPlaceholder: 'Your email address'}}, {text: 'Copyright © 2018 Toxin отель. Все права зачищены.', }
          )
    .page__cell-footer-creative
      +footer-creative({logoIconUrl: '/assets/img/footer-logo.svg',
      logoTextUrl: '/assets/img/footer-toxin.svg',
      logoDescription: 'Copyright © 2018 Toxin отель. Все права зачищены.',
      social_network: ['#', '#', '#']})
