mixin text-field(options)
  .text-field
    if (options.name)
      p.text-field__title
        label.text-field__title-label.label(for= options.labelFor)= options.name
    input.text-field__input(type= options.inputType name= options.labelFor id= options.labelFor placeholder= options.inputPlaceholder pattern= options.pattern)
