.text-field
  form.form
    p.form-date__title
      label.form-date__title-label.label(for="maskedtf") MASKED TEXT FIELD
    input.form-date__input(type="text" name="maskedtf" id="maskedtf" placeholder="ДД.ММ.ГГГГ" maxlength="10")
