include ./__like-button/like-button.pug

mixin review(options)
  .review
    .user
      .user__photo
      span.user__name= options.name
        <br>
        span.user__last-date= options.date
    .description
      .description__like-button
        +likeButton({})
      .description__text= options.description
