.label {
  @include font-two;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.subscription-text-field__form-title-label {
  margin: 0;
  text-transform: uppercase;
}
.subscription-text-field__form-wrapper {
  height: 44px;
  max-width: 267px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  @include font-main;
  font-size: 0.875rem;
  line-height: 1.7143rem;
  padding-left: 11px;
  height: 44px;
  margin-top: 3px;
}
.subscription-text-field__form-wrapper:hover,
.subscription-text-field__form-wrapper:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.subscription-text-field__form-input {
  border: none;
}
.subscription-text-field__form-input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.subscription-text-field__form-submit {
  cursor: pointer;
  width: 44px;
  height: 42px;
  border-radius: 4px;
  background: #fff;
  text-align: center;

  & span.material-icons {
    width: 44px;
    height: 44px;
    @include Material-Icons;
    font-size: 1.5rem;
    padding-left: 11.2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    color: transparent;
  }
}
