@import './owlcarousel/scss/owl.carousel.scss';
@import './__rate-button/rate-button.scss';

.hotel-room {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

// ===== Slider style =====
  &__slideshow {
    margin-bottom: 15px;

    .slider__item {
      height: 151px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      border-radius: 4px 4px 0 0;


    }
    &:hover {
      .gradient {
        width: 42px;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        border-radius: 4px 0 0 0;
      }
      .gradient-transform {
        width: 42px;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 4px 0 0 0;
      }

      .owl-prev,
      .owl-next {
        display: block;
        width: 44px;
        height: 44px;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 11px;
      right: 15px;
      width: 41px;
      display: flex;
      justify-content: space-between;
    }
    .owl-dot span {
      display: inline-block;
      width: 7.5px;
      height: 7.49px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    }
    .owl-dot.active span {
      background: #fff;
    }
    .owl-nav {
      width: inherit;
      position: absolute;
      bottom: 56px;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }
    .owl-prev,
    .owl-next {
      display: none;
    }
  }

// ===== style info =====
  &__short-info {
    width: 233px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 2px;

    & .number {
      @include font-third;
      font-size: 14px;
      color: #1F2041;
      padding-left: 2px;

      &__numeral {
        font-size: 19px;
        margin-left: 6px;
        line-height: 32px;
      }
      &__class {
        margin-left: 6px;
        @include font-two;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
      }
    }

    & .price {
      color: rgba(31, 32, 65, 0.5);
      &__number {
        @include font-two;
        font-size: 14px;
        line-height: 36px;
      }
      &__day {
        @include font-main;
        font-size: 12px;
        margin-left: 4px;
      }
    }
  }

// ===== style raiting =====
  &__raiting {
    color: rgba(31, 32, 65, 0.5);
    width: 233px;
    margin: 8px auto 10px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;

    .amount-review {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 17px;
      &__number {
        @include font-two;
      }
      &__word {
        margin-left: 4px;
      }
    }
  }
}
