extends ../../views/layout/main.pug

block title
  title Form Elements

block content
  .page__row.toxin
    include ../../components/toxin_icon/toxin.pug
  .page__row
    .page__cell
      include ../../components/textfield/textfield.pug
      include ../../components/maskedtf/maskedtf.pug
