extends ../../views/layout/main.pug
include ../../components/__textfield/textfield.pug
include ../../components/__dropdown/dropdown.pug
include ../../components/__date-dropdown/date-dropdown.pug
include ../../components/__filter-date-dropdown/filter-date-dropdown.pug
include ../../components/__subscription-text-field/subscription-text-field.pug
include ../../components/__dropdown-bedroom/dropdown-bedroom.pug
include ../../components/__expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/__checkbox-buttons/checkbox-buttons.pug
include ../../components/__radio-buttons/radio-buttons.pug
include ../../components/__toggle/toggle.pug

block title
  title Form Elements

block content
  .page__row-header.toxin
    include ../../components/toxin-icon/toxin.pug
  .page__row
    .page__cell
      .text-field__wrapper-0
        +text-field({name: 'text field', labelFor: 'email', inputType: 'text', inputPlaceholder: 'Email'})
      .text-field__wrapper-1
        +text-field({name: 'text field', labelFor: 'text', inputTupe: 'text', inputPlaceholder: 'This is pretty awesome'})
      .dropdown__wrapper
        +dropdownGuests({label: 'dropdown', placeholder: 'Сколько гостей', firstGuestLabel: 'взрослые', secondGuestLabel: 'дети', thirdGuestLabel: 'младенцы', applyAndCancel: true})
      .masked-text-field__wrapper
        +text-field({name: 'masked text field', labelFor: 'maskedtf', inputType: 'text', inputPlaceholder: 'ДД.ММ.ГГГГ'})
      .wrapper-for-date-dropdown
        +date-dropdown({label_one: 'date dropdown', label_two: 'date dropdown',placeholder: 'ДД.ММ.ГГГГ'})
      .filter-date-dropdown__wrapper
        +filter-date-dropdown({label: 'filter date dropdown', placeholder: '19 авг - 23 авг'})
      .subscription-text-field__wrapper
        +subscription-text-field({name: 'subscription text field', labelFor: 'email', id: 'subscription', inputTupe: 'text', inputPlaceholder: 'Email'})
      .dropdown-bedroom-wrapper
        +dropdownBedroom({label: 'dropdown', placeholder: '2 спальни, 2 кровати...', amountOfBedrooms: 'спальни', amountOfBeds: 'кровати', amountOfBathrooms: 'ванные комнаты'})
      .expandable-checkbox-list-wrapper
        +expandableCheckboxList({name: 'expandable checkbox list'})
    .page__cell-two
      .checkbox-buttons-wrapper
        +checkboxButtons({name: 'checkbox buttons'})
      .radio-buttons-wrapper
        +radioButtons({name: 'radio buttons'})
      .toggle-wrapper
        +toggle({name: 'toggle'})
    .page__cell-three
