extends ../../views/layout/main.pug
include ../../components/__textfield/textfield.pug
include ../../components/__dropdown/dropdown.pug

block title
  title Form Elements

block content
  .page__row.toxin
    include ../../components/toxin-icon/toxin.pug
  .page__row
    .page__cell
      +text-field({name: 'text field', labelFor: 'email', inputType: 'text', inputPlaceholder: 'Email'})
      +text-field({name: 'text field', labelFor: 'email', inputTupe: 'text', inputPlaceholder: 'This pretty awesome'})
      +dropdownGuests({label: 'dropdown', placeholder: 'Сколько гостей', firstGuestLabel: 'взрослые', secondGuestLabel: 'дети', thirdGuestLabel: 'младенцы', applyAndCancel: true})
      +text-field({name: 'masked text field', labelFor: 'maskedtf', inputType: 'text', inputPlaceholder: 'ДД.ММ.ГГГГ'})
