extends ../../views/layout/main.pug
include ../../components/__textfield/textfield.pug

block title
  title Form Elements

block content
  .page__row.toxin
    include ../../components/toxin-icon/toxin.pug
  .page__row
    .page__cell
      +text-field({name: 'TEXT FIELD', labelFor: 'email', inputType: 'text', inputPlaceholder: 'Email'})
      +text-field({name: 'MASKED TEXT FIELD', labelFor: 'maskedtf', inputType: 'text', inputPlaceholder: 'ДД.ММ.ГГГГ'})
