.colors {
  font-size: 1.1875rem;
  line-height: 1.8125;

  &__rectangle {
    display: flex;
    margin-bottom: 20px;

    .rectangle {
      width: 4.375rem;
      height: 4.375rem;
      border-radius: 6px;
      margin-right: 40px;

      &__dark100 {
        @include dark100;
      }
      &__dark75 {
        @include dark75;
      }
      &__dark50 {
        @include dark50;
      }
      &__dark25 {
        @include dark25;
      }
      &__dark5 {
        @include dark5;
      }
      &__purple {
        @include purple;
      }
      &__green {
        @include green;
      }
    }

    .description {
      height: 57px;

      &__text-name {
        @include font-third;
        padding-top: 4px;
      }
      &__text-color {
        @include font-forth;
        line-height: 1.3;
      }
    }
  }
}
