mixin rectangle(options)
  .colors
    each val in options
      .colors__rectangle
        div(class= 'rectangle rectangle__'+val[0])
        .description
          .description__text-name=  val[1]
          .description__text-color= val[2]
