.rectangle__wrapper {
  font-size: 1.1875rem;
  line-height: 1.8125;
  display: flex;
}
.rectangle-color {
  .rectangle {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 6px;
    margin-bottom: 1.25rem;
  }
  &__dark100 {
    @include dark100;
  }
  &__dark75 {
    @include dark75;
  }
  &__dark50 {
    @include dark50;
  }
  &__dark25 {
    @include dark25;
  }
  &__dark5 {
    @include dark5;
  }
  &__purple {
    @include purple;
  }
  &__green {
    @include green;
  }
}
.rectangle-description {
  margin-left: 2.5rem;
  width: 160px;
  .rectangle-text {
    margin-bottom: 25px;

    &__name {
      margin: 0;
      padding-top: 3px;
      @include font-third;
    }
    &__color {
      line-height: 1.5;
      margin: 0;
      @include font-forth;
    }
  }
}
