extends ../../views/layout/main.pug
include ../../components/search-room/search-room.pug
include ../../components/registration-block/registration-block.pug
include ../../components/to-book/to-book.pug
include ../../components/block-sign-in/block-sign-in.pug
include ../../components/hotel-room/hotel-room.pug

block title
  title Cards

block content
  .page__row-header.toxin
    include ../../components/toxin-icon/toxin.pug
  .page__row
    .page__cell
      +searchRoom({name: "Найдём номера под ваши пожелания"})
      +registration({headline: "Регистрация аккаунта"})
    .page__cell
      +to-book
      +sign-in
    .page__cell-left
      .datepicker-here
      +hotel-room({url: '/assets/img/room-image1.png',numberNumeral: 888, priceNumber: '9 990₽',
    numberClass: 'люкс', rate: 5, amountReview: 145,})
      +hotel-room({url: '/assets/img/room-image2.png', numberNumeral: 840, priceNumber: '9 900₽', rate: 4,
    amountReview: 65,})
