@import './__subscription-text-field/subscription-text-field.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  min-height: 443px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding-top: 100px;

  &__widgets {
    max-width: 1160px;
    min-height: 272px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-right: 40px;
    .logo {
      display: flex;
      margin-bottom: 17px;

      .logo__icon {
        width: 40px;
        height: 40px;
        background: no-repeat;
      }
      .logo__name {
        width: 54px;
        height: 14px;
        margin: 13px 0 0 12px;
        background: no-repeat;
      }
    }
    .description {
      font-size: 0.875rem;
      line-height: 1.7143;
      color: rgba(31, 32, 65, 0.75);
      max-width: 260px;
    }
  }
  .block-for-links {
    display: flex;

    .block-links {
      margin: 0;
      padding: 4px 0 0 0;
      width: 200px;
      &__item-headline {
        @include font-two;
        font-size: 0.75rem;
        line-height: 1.25;
        text-transform: uppercase;
        color: #1F2041;
        margin-bottom: 22px;
      }
      &__item {
        margin-bottom: 20px;

        a {
        display: block;
        font-size: 0.875rem;
        line-height: 1.2857;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
        }
      }
    }
  }
  .subscription {
    max-width: 260px;
    &__headline {
      margin: 4px 0 18px;
      @include font-two;
      font-size: 0.75rem;
      line-height: 1.25;
      text-transform: uppercase;
      color: #1F2041;
    }
    &__description {
      font-size: 0.875rem;
      line-height: 1.7143;
      color: rgba(31, 32, 65, 0.75);
      margin-bottom: 23px;
    }
  }
  .underline {
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
  }
  .copiright-bar {
    max-width: 1440px;
    min-height: 70px;
    padding-top: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__wrapper {
      width: 1160px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__copiright {
      font-size: 0.875rem;
      line-height: 1.5714;
      color: rgba(31, 32, 65, 0.75);
    }
    &__sprites {
      @include fa-brands;
      font-size: 1.5rem;
      line-height: 0.9583;
      display: flex;
      justify-content: space-between;
      width: 111px;
      margin-right: 2px;

      a {
        text-decoration: none;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media (max-width: 1190px) {
  .footer {
    padding: 100px 15px 0;
    &__logo {
      margin: 0 10px;
      min-width: 188px;
    }
    .block-for-links {

      .block-links {
        margin-right: 10px;
        min-width: 160px;
        width: 100%;
      }
    }
    .copiright-bar {
      width: 100%;

      &__wrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {

    .footer__widgets {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 15px;

      .footer__logo {
        order: 0;
        margin-bottom: 20px;
      }
      .block-for-links {
        order: 2;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .block-links {
          margin-right: 0;
          width: 155px;
          min-width: 155px;
        }
      }
      .subscription {
        order: 1;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .footer__widgets {
      .logo {
        justify-content: center;
      }
      .description {
        text-align: center;
      }
      .block-for-links {
        order: 1;
        width: 260px;
        flex-direction: column;

        .block-links {
          margin: 0 auto 15px;
          text-align: center;
        }
      }
      .subscription {
        text-align: center;
      }
    }
    .copiright-bar__wrapper {
      justify-content: center;

      .copiright-bar__copiright,
      .copiright-bar__sprites {
        margin-bottom: 15px;
      }
    }
  }
}
