extends ../../views/layout/main.pug

block title
  title Colors & Type

block content
  .page__row.toxin
    include ../../components/toxin-icon/toxin.pug
  .page__row
    .page__cell
      include ../../components/rectangle/rectangle.pug
      include ../../components/fontsize/fontsize.pug
