.text-field
  form.form-email
    p.form-email__title
      label.form-email__title-label.label(for="email") TEXT FIELD
    input.form-email__input(type="text" name="email" id="email" placeholder="Email")
