extends ./views/layout/main.pug

block title
  title Главная

block content
  .ui-kit
    h3.headline Ui Kit
    a(href="./uikit/colorstype.html") Color & Types <br>
    a(href="./uikit/formelements.html") Form Elements <br>
    a(href="./uikit/cards.html") Cards <br>
    a(href="./uikit/headersfooters.html") Headers & Footers
  .website-pages
    h3.headline Pages
    a(href="./pages/landing-page.html") Landing Page
    br
    a(href="./pages/search-room.html") Search room/Filter
    br
    a(href="./pages/room-details.html") Room details
    br
    a(href="./pages/registration.html") Registration
    br
    a(href="./pages/login.html") Sign in
