.masked-text-field {
  &__title-label {
    @include font-two;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
  }
  &__input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    @include font-main;
    font-size: 0.875rem;
    line-height: 1.7143;
    padding-left: 15px;
    width: 100%;
    height: 44px;
    margin-top: 4px;
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  &__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
  }
}
