mixin likeButton(options)
  .like-button
    if (options.name)
      .like-button__label= options.name
    .like-button__like
      form(action="#")
        button(type="button").like-button__toggle
          span.like-button__heart
          span.like-button__amount= options.amount
