@import './__textfield/textfield.scss';
@import './__buttons/buttons.scss';

.sign-in {
  max-width: 380px;
  @include border-block;

  &__headline {
    @include h1;
    line-height: 1.6875;
    max-width: 320px;
    margin: 34px auto 11px;
  }
  &__email-and-password {
    max-width: 320px;
    margin: 0 auto 20px;

    & .email {
      margin-bottom: 6px;
    }
  }
  &__login {
    max-width: 320px;
    margin: 0 auto 30px;
  }
  .create {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto 31px;
    &__question {
      font-size: 0.875rem;
      line-height: 1.2857;
      display: flex;
      align-items: center;
      color: #000000;
    }
  }
}

@media (max-width: 400px) {
  .sign-in {
    padding: 0 10px;
    margin: 0 5px;
  }
}
