.chart {
  display: flex;
  justify-content: space-between;

  & .unit {
    fill: none;
    stroke-width: 4;
  }
  &__text {
    fill: #BC9CFF;
    font: 16px/1.4em;
    transform: translateY(0.9em);
  }
  &__number {
    @include font-third;
    font-size: 1.6em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.6em);
  }
  &__label {
    @include font-two;
    text-anchor: middle;
    font-size: 0.8em;
    text-transform: uppercase;
    transform: translateY(0.3em);
  }
}
